/* General Styles */
body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background: linear-gradient(135deg, #6b73ff, #000dff); 
  display: flex;          
  justify-content: center;  
  align-items: center;      
  height: 100vh;           
}

/* Container Styles */
.container {
  max-width: 600px;         
  width: 100%;              
  padding: 20px;            
  text-align: center;    
  backdrop-filter: blur(10px);   
  background-color: #ffffff; 
  border-radius: 15px;      
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);  
  transition: transform 0.3s;  
}

.container:hover {
  transform: scale(1.02);    
}

/* Heading Styles */
h1 {
  color: #333;
  margin-bottom: 20px;      
  font-size: 2rem;        
}

/* Input Form Styles */
.task-input {
  display: flex;             
  justify-content: center;    
  align-items: center;       
  margin-bottom: 20px;      
  border-radius: 10px;
  overflow: hidden;
}

.task-input input {
  flex: 1;                  
  padding: 12px;           
  border: none;          
  border-radius: 10px 0 0 10px; 
  font-size: 16px;         
  transition: box-shadow 0.3s;  
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
}

.task-input input:focus {
  outline: none;           
  box-shadow: 0 0 5px rgba(0, 106, 255, 0.8);  
}

.task-input button {
  padding: 12px 20px;      
  border: none;            
  background-color: #28a745; 
  color: white;            
  font-size: 16px;         
  cursor: pointer;         
  transition: background-color 0.3s ease, transform 0.2s ease; 
  border-radius: 0 10px 10px 0; 
}

.task-input button:hover {
  background-color: #218838; 
  transform: scale(1.05);  
}

/* Task List Styles */
.task-list {
  margin-top: 20px;        
  text-align: left;        
}

/* Task Item Styles */
.task-item {
  display: flex;            
  align-items: center;   
  color: tomato;   
  justify-content: space-between; 
  padding: 12px;           
  border-radius: 10px;     
  border: 1px solid #eaeaea; 
  margin-bottom: 10px;     
  background-color: #f9f9f9; 
  transition: background-color 0.3s, transform 0.2s; 
}

.task-item:hover {
  background-color: #f1f1f1; 
  transform: translateY(-2px);  
}

.completed {
  text-decoration: line-through; 
  color: #aaa;                   
}

/* Checkbox Styles */
input[type="checkbox"] {
  margin-right: 12px;         
  cursor: pointer;            
}

/* Delete Button Styles */
.task-item button {
  background-color: #dc3545; 
  color: white;               
  border: none;               
  padding: 8px 12px;         
  border-radius: 10px;       
  cursor: pointer;            
  transition: background-color 0.3s ease, transform 0.2s ease; 
}

.task-item button:hover {
  background-color: #c82333; 
  transform: scale(1.05);    
}

/* Empty Message Styles */
.empty-message {
  color: #999;                
  font-style: italic;         
  margin-top: 20px;          
}